<div class="row mb-2">
{% for category, python_category in category_list.items %}
<dov class="col-sm-4 col-md-2">
<a href="{% if python_category.url %}{% url python_category.url %}{% endif %}"
   class="btn btn-block {% if current_category == category %}btn-info{% else %}btn-outline-info{% endif %}">
{{ python_category.title }}
</a>
</dov>
{% endfor %}
</div>
<div class="row mb-2">
    <div class="col-12">
        <a href="{% url 'envs_python:pypi_list' %}" class="btn btn-outline-info float-right btn-sm"><i class="fas fa-cog"></i> 全局PyPi源</a>
    </div>

</div>