{% if not is_path %}
    <h4 class="text-danger">Python解释器路径不存在~</h4>
{% else %}
<div class="card">
<form id="form_package" method="post" class="form-horizontal">{% csrf_token %}
    <div class="card-body">
<dl class="row">
    <dt class="col-sm-1">名称</dt><dd class="col-sm-11">{{ env_info.name }}</dd>
    <dt class="col-sm-2">解释器版本</dt><dd class="col-sm-10">{{ env_info.version }}</dd>
    <dt class="col-sm-2">解释器路径</dt><dd class="col-sm-10">{{ env_info.folder }}</dd>
</dl>
    <hr/>
        <div class="form-group row">
            <label for="{{ form.package_name.for_label }}" class="col-sm-1 col-form-label">{{ form.package_name.label }}</label>
            <div class="col-sm-4">
                <div class="input-group">
                    {{ form.package_name }}
                    <div class="input-group-append">
                    <button type="button" class="input-group-text" id="btn_search_package" name="search_package" lay-on="search_package"><i class="fas fa-search"></i></button>
                  </div>
                    {{ form.package_name_error }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.package_version.for_label }}" class="col-sm-1 col-form-label">
                {{ form.package_version.label }}
            </label>
            <div class="col-sm-4">{{ form.package_version }} </div>
{#            <div class="col-sm-2"><button type="button" class="btn btn-outline-secondary" id="btn_get_detail">版本详情</button></div>#}
        </div>

    </div>
    <div class="card-footer">
        <button type="button" id="btn_submit" class="btn btn-primary">安装</button>
        <a href="{% url 'envs_python_runtime:package_list' %}?uid={{ uid }}" class="btn btn-default float-right">取消</a>
    </div>
</form>
</div>
{#<div class="card" id="package_detail">#}
{#    <div class="card-header"></div>#}
{#    <div class="card-header"></div>#}
{#    <div class="card-body"></div>#}
{#</div>#}
 {% endif %}
{% if form.non_field_errors %}
<div class="card" id="non_field_error">
<div class="card-body bg-dark">
    <p>安装失败，详细安装失败信息如下：</p>
    <hr/>
    <div>{{ form.non_field_errors|safe }}</div>
</div>
</div>
{% endif %}
