{% extends 'layout_content.html' %}
{% load static %}
{% load foundation_tags %}
{% load panelcore_tags %}

{% block html_css_files %}
<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
{% block panel_css_files %}{% endblock %}
{% endblock %}

{% block html_js_files %}
<script src="{% static 'layui/layui.js' %}"></script>
{% block panel_js_files %}{% endblock %}
{% endblock %}

{% block user-panel %}
    <div class="image p-1 pt-2"><img src="{% static 'img/server-small.png' %}" /></div>
    <div class="info">
        <a class="d-block">{% get_server_name %}<br/>{% get_server_ip %}</a>
    </div>
{% endblock %}

{% block logo %}
<a href="" class="brand-link text-center">
    <img src="{% static 'img/JieLogo.png' %}" alt="itjie Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
  <span class="brand-text font-weight-light">{% get_settings 'SYSTEM_NAME' %}</span>
</a>
{% endblock %}

