{% extends 'envs_python/layout_envs_python.html' %}

{% block pagecontent %}
{{ block.super }}
<div class="card">
    <div class="card-header">
        <div class="card-title">Python {{ version }}</div>
    </div>
    <div class="card-header">
         <a href="{% url 'envs_python_runtime:package_install' version %}" class="btn btn-success">
             <i class="fa fa-plus"></i> 安装包
         </a>
    </div>
    <div class="card-body">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>名称</th>
                <th>版本</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for name, package in packages.items %}
                <tr>
                    <td>{{ package.name }}</td>
                    <td>{{ package.version }}</td>
                    <td>
{% if name == 'pip' or name == 'setuptools' or name == 'wheel' %}-{% else %}
    <a href="{% url 'envs_python_runtime:package_uninstall' version %}?package={{ package.name }}" class="btn btn-outline-info btn-xs">卸载</a>
{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}