{% extends 'layout_html.html' %}
{% load static %}
{% load foundation_tags %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    {% block panel_css_files %}{% endblock %}
{% endblock %}

{% block js_files %}
<script src="{% static 'layui/layui.js' %}"></script>
{% block panel_js_files %}{% endblock %}
{% endblock %}

{% block layout %}
<body class="{% get_settings 'PACE_COLOR' %} sidebar-collapse layout-top-nav control-sidebar-slide-open layout-fixed layout-navbar-fixed">
<div class="wrapper">
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white ml-1">
      当前选中：<div id="select_path" class="font-weight-bold" style="font-size:1.2em;">{{ path }}</div>
</nav>
<div class="content-wrapper">
    <section class="content">
{% block pagecontent %}{% endblock %}
    </section>
  </div>
</div>
</body>

{% endblock %}